# Ignore build artifacts
zig-out/

# Ignore executables
*.exe
*.out
*.o

# Ignore temporary files
*.tmp
*.log

# Ignore editor specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore OS-specific files
.DS_Store
Thumbs.db
